/* _content/MyEvent/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vm6l7qmrig] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vm6l7qmrig] {
  color: #0077cc;
}

.btn-primary[b-vm6l7qmrig] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vm6l7qmrig], .nav-pills .show > .nav-link[b-vm6l7qmrig] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vm6l7qmrig] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vm6l7qmrig] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vm6l7qmrig] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vm6l7qmrig] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vm6l7qmrig] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MyEvent/Views/Shared/_EHLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kdyisx0qog] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kdyisx0qog] {
  color: #0077cc;
}

.btn-primary[b-kdyisx0qog] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kdyisx0qog], .nav-pills .show > .nav-link[b-kdyisx0qog] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kdyisx0qog] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kdyisx0qog] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kdyisx0qog] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kdyisx0qog] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kdyisx0qog] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MyEvent/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-713uywjfd4] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-713uywjfd4] {
  color: #0077cc;
}

.btn-primary[b-713uywjfd4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-713uywjfd4], .nav-pills .show > .nav-link[b-713uywjfd4] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-713uywjfd4] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-713uywjfd4] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-713uywjfd4] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-713uywjfd4] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-713uywjfd4] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/MyEvent/Views/Shared/_MemberLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-aepp1dlzmo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-aepp1dlzmo] {
  color: #0077cc;
}

.btn-primary[b-aepp1dlzmo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-aepp1dlzmo], .nav-pills .show > .nav-link[b-aepp1dlzmo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-aepp1dlzmo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-aepp1dlzmo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-aepp1dlzmo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-aepp1dlzmo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-aepp1dlzmo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
