@model MyEvent.Models.Event

@{
	// ViewData["Title"] = "Create";
}

<h4 class="fw-bold text-center mt-4">新增演出</h4>
<hr />
<div class="d-flex justify-content-center">
	<div class="row mx-auto" style="width:1000px;">
		<div class="col-md-12">
			<form asp-action="Create" enctype="multipart/form-data">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="EventName" class="control-label"></label>
					<input asp-for="EventName" class="form-control" />
					<span asp-validation-for="EventName" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Date" class="control-label"></label>
					<input asp-for="Date" class="form-control" type="date" />
					<span asp-validation-for="Date" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="StartTime" class="control-label"></label>
					<input asp-for="StartTime" class="form-control" type="time" />
					<span asp-validation-for="StartTime" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Venue.VenueName" class="control-label"></label>
					<select asp-for="VenueID" class="form-control" asp-items="ViewBag.VenueID"></select>
				</div>
				<div class="form-group">
					<label asp-for="Description" class="control-label"></label>
					<textarea asp-for="Description" class="form-control" rows="8"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Pic" class="control-label"></label>
					<input type="file" name="newPhoto" id="Photo" class="form-control" />
					<span class="text-danger">@ViewData["Message"]</span>
				</div>
				<div class="form-group">
					<label asp-for="Price" class="control-label"></label>
					<input asp-for="Price" class="form-control" />
					<span asp-validation-for="Price" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Discount" class="control-label"></label>
					<textarea asp-for="Discount" class="form-control" rows="5"></textarea>
					<span asp-validation-for="Discount" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Note" class="control-label"></label>
					<textarea asp-for="Note" class="form-control" rows="8"></textarea>
					<span asp-validation-for="Note" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="EventType.EventType1" class="control-label"></label>
					<select asp-for="EventTypeID" class="form-control" asp-items="ViewBag.EventTypeID"></select>
				</div>
				<div class="form-group mt-3 align-items-center d-flex justify-content-center">
					<input type="submit" value="建立演出" class="btn btn-primary" />
					<a asp-action="Index" asp-controller="EHLogin" class="btn btn-outline-primary ms-2">返回演出列表</a>
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
