@model MyEvent.Models.Credentials

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyEvent</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyEvent.styles.css" asp-append-version="true" />
</head>
<style>
    .backToBrowse{
        color: #5c5c5c;
        text-decoration: #5c5c5c solid 2px underline;
    }
    .backToBrowse:hover{
        color: #323232;
        text-decoration: #323232 solid 2px underline;
    }
   
</style>
<body class="container">

<h1 class="text-center mt-4">後台登入</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-4 col-md-6">
         <hr style="color:#eb4f69;"/>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password"  class="text-danger"></span>
            </div>
            <div class="text-danger">
                @ViewData["Message"]
            </div>
            <div class="form-group mt-3 d-flex justify-content-center">
                <input type="submit" value="登入" class="btn btn-primary me-2"/>
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">返回首頁</a>
            </div>

        </form>
    </a>
</div>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
